<% @tickets.each do |ticket| %>
	<% if ticket.resolved == true %>
	<div class="oneTicketResolved">
			<p><span class="label">Category:</span> <%= ticket.category %></p>
			<p><span class="label">Description: </span><%=ticket.description %></p>		
			<p><span class="label" value="resolved">Resolved:</span> Yes</p>
		</div>
	<% else %>
					
		<div class="oneTicketNotResolved">
			<p><span class="label">Category:</span> <%= ticket.category %></p>
			<p><span class="label">Description: </span><%=ticket.description %></p>		
			<p><span class="label" value="not-resolved">Resolved:</span> No</p>	
			<p><span class="label">Student:</span> <%= User.find(ticket.student_id).first_name %> <%= User.find(ticket.student_id).last_name %></p>
			<br>
			<form class="resolvedButton" name="resolved" method="post" action="/tickets/<%= ticket.id %>" value="<%= ticket.id %>">
    		<button type="submit">Resolved?</button>
			</form>
			</div>
	<% end %>
		
<% end %>