<% @user = User.find(params[:user_id]) %>
<!-- <h3><%= @user.first_name %> <%= @user.last_name %></h3>
<h4><%= @user.role_type.capitalize %></h4> -->

<img src= <%= @image %> >
<!-- <img src="http://www.gravatar.com/avatar/<%= gravatar_hash(@user.email) %>">

<a href="mailto:<%= @user.email %>">Email <%= @user.first_name %></a> -->